
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 style="text-align:center;font-size:25px;background:#ffffff;color:#000000">
    ĐÂY LÀ TRANG DÀNH RIÊNG CHO ADMIN
</h2>

