@model IEnumerable<WebBanSon.Models.LoaiSon>

@{
    ViewBag.Title = "LoaiSon";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>QUẢN LÝ LOẠI SON</h2>

<p>
    @Html.ActionLink("Thêm Loại Son", "themloaison")
</p>
<table class="table">
    <tr>
        <th>
            Tên Loại Son
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoaiSon)
            </td>
            <td>
                @Html.ActionLink("Sửa", "sualoaison", new { id = item.MaLoaiSon }) |
                @Html.ActionLink("Xóa", "xoaloaison", new { id = item.MaLoaiSon })
            </td>
        </tr>
    }

</table>
