@{
    ViewBag.Title = "xacnhandonhang";
    Layout = "~/Views/Shared/Layoutnguoidung.cshtml";
}
<h2 style="color:#000000">Đã lưu lại đơn đặt hàng . Nhân viên của chúng tôi sẽ liên lạc xác nhận lại và hẹn ngày giao hàng trong thời gian sớm nhất . Xin chân thành cảm ơn quý khách đã mua hàng tại đây !</h2>
<p style="color:#000">
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "SonStore")
</p>

