@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layoutnguoidung.cshtml";
}
<h3 style="color:#000000;width:1080px;marker-mid">ALBUM HÌNH </h3>
<div>
    <img src="~/HinhSP/1.jpg" />
    <img src="~/HinhSP/10.jpg" />
    <img src="~/HinhSP/2.jpg" />
    <img src="~/HinhSP/3.jpg" />
    <img src="~/HinhSP/4.jpg" />
    <img src="~/HinhSP/5.jpg" />
    <img src="~/HinhSP/6.jpg" />
    <img src="~/HinhSP/7.jpg" />
    <img src="~/HinhSP/8.jpg" />
    <img src="~/HinhSP/9.jpg" />
    <img src="~/HinhSP/6.jpg" />
</div>
