@using WebBanSon.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Son>
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/Layoutnguoidung.cshtml";
}
<h2 style="text-align:center ; font-size:40px ; padding-bottom 10px; color:#ff0000">GIỚI THIỆU SON</h2>
<h3 style="text-align:left;color:#000000;font-size:20px;padding-bottom:5px;background:#ffffff">
    LÀM ĐẸP KHOA HỌC VỚI SON LÌ 6 “SẮC” 100% THÀNH PHẦN TỪ THIÊN NHIÊN<br />
    MIỄN PHÍ SHIP HÀNG TOÀN QUỐC CHO 299 ĐƠN ĐẶT HÀNG ĐẦU TIÊN.<br />
    👉 CÁC NÀNG NHANH TAY CHỌN LẤY CHO MÌNH MỘT THỎI<br />
    👉 👉TRANG ĐIỂM LIỀN TAY – ĐẸP NGAY TRONG NHÁY MẮT!!<br />
    5 ĐẶC ĐIỂM ĐỘC ĐÁO CỦA DÒNG SON LÌ AN TOÀN LIPS ICY GIÚP NÀNG LÀM ĐẸP MỘT CÁCH KHOA HỌC:<br />
    ❤MÀU SON MÔI TƯƠI LƯU MÀU TỚI 8h<br />
    ❤ CHỐNG THÂM với Sáp ong.<br />
    ❤ TRẺ HÓA môi với dầu quả bơ, cung cấp lượng Vitamin tốt cho môi.<br />
    ❤ DƯỠNG MÔI MỀM suốt cả ngày với Shea Butter, tinh dầu Macca, tinh dầu hạnh nhân,…<br />
    ❤ NGĂN NGỪA LÃO HÓA với sự kết hợp của Vitamin E<br />
    ❤ Dòng son lì Lips Icy phù hợp với làn môi của phụ nữ Á Đông, là thương hiệu làm đẹp an toàn sức khỏe được tin dùng với hàng nghìn đơn đặt từ khi ra mắt. Với các tông màu trẻ trung, năng động, không kém phần quyến rũ, sẽ giúp các nàng tự tin với diện mạo khuôn mặt của mình, nét đẹp tươi tắn, tự nhiên.<br />
    CÁC CHỊ EM CÓ THỂ LỰA CHỌN :<br />
    👉  Màu đỏ tươi giúp bạn gái trông thật quyến rũ và nổi bật.<br />
    👉  Màu đỏ cam tuyệt đẹp, rực rỡ với sắc cam và quyến rũ với sắc đỏ.<br />
    👉  Màu đỏ ruby tươi sáng và ngọt ngào, năng động<br />
    👉  Màu đỏ cherry huyền bí quyến rũ<br />
    👉  Màu hồng cam sang trọng và thanh lịch.<br />
    👉  Cam đào trẻ trung phá cách tươi mới<br />
    SỰ KẾT HỢP TUYỆT VỜI CỦA SON LÌ KHIẾN NGƯỜI DÙNG ĐÁNH GIÁ CAO:<br />
    ☀ Kết hợp lớp dưỡng ẩm cho môi<br />
    ☀ Kết hợp các thành phần làm hồng chống nhăn môi<br />
    ☀ Không chì, không chất bảo quản, 100% thành phần từ thiên nhiên, đảm bảo làm đẹp an toàn.<br />
    SON LÌ LIPS ICY ĐƯỢC CHỨNG NHẬN AN TOÀN CỦA BỘ Y TẾ<br />
    🎯 Sử dụng công nghệ làm đẹp từ Mỹ.<br />
    🎯Được Bộ y tế chứng nhận Sản phẩm làm đẹp an toàn.<br />
</h3>

