
@using WebBanSon.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Son>
@{
    ViewBag.Title = "tintuc";
    Layout = "~/Views/Shared/Layoutnguoidung.cshtml";
}

<h3 style="text-align:left;color:#000000;font-size:18px;padding-bottom:5px;background:#ffffff">
    Muốn biết cách chăm sóc môi và thoa son lì đẹp nhất</br>
    Ngày đăng: 01/10/2016</br>
    </br>
    Nàng beauty blogger đã đích thân chia sẻ với độc giả của Kenh14.vn tất tần tật bí quyết chăm sóc môi cùng cách thoa son lì đẹp nhất của mình.
    Nếu là một tín đồ của son môi và thường xuyên " lọ mọ" tìm màu swatch trên mạng, hẳn bạn sẽ không thể không biết đến</br>
    Changmakeup. mặc dù sở hữu niềm đam mê với lĩnh vực trang điểm nói chung nhưng nàng beauty blogger này lại mê son hơn cả </br>
    và đặc biệt nổi tiếng với những bức hình cùng video swatch son siêu lung linh.</br>
    <img src="~/HinhSP/sl2.jpg" style="width:1000px" />
    </br>
    chiêm ngưỡng những bức hình cũng như video swatch son của changmakeup, hẳn bạn sẽ không khỏi trầm trồ với làn môi đẹp</br>
    chuẩn mực cùng với "trình" thoa son siêu đẳng của cô nàng. ngày hôm nay, changmakeup sẽ đích thân chia sẻ với độc giả của</br>
    kênh14.vn tất tần tật bí quyết chăm sóc môi cùng cách thoa son lì đẹp nhất. đây chắc chắn sẽ là video cực kỳ hữu ích cho các tín</br>
    đồ làm đẹp khi mà mùa đông đang đến gần, làn môi trở nên khó chiều hơn và đặc biệt dễ "biểu tình" khi phải kết bạn với son lì.</br>
    <img src="~/HinhSP/sl3.jpg" style="width:1000px" />
    </br>
    tẩy da chết cho môi</br>
    đầu tiên, bạn hãy làm ẩm môi bằng khăn mặt ướt. đây là công đoạn chuẩn bị rất cần thiết cho bước tẩy da chết kế tiếp vì nếu môi</br>
    khô, bạn có thể sẽ cảm thấy rát khi tẩy da chết.</br>
    <img src="~/HinhSP/sl4.jpg" style="width:1000px" />
    </br>
    để môi luôn mịn màng, không có vẩy da thừa, bạn nên tẩy da chết đều đặn từ 1 - 2 lần />tuần hoặc bất cứ khi nào cảm thấy da chết</br>
    xuất hiện trên môi. Với bước này, bạn không nhất thiết phải mua một cây tẩy da chết chuyên biệt mà có thể dùng hỗn hợp đường</br>
    nâu + mật ong. Sau khi thoa đều sản phẩm tẩy da chết lên môi, bạn dùng bàn chải massage thật nhẹ nhàng, đừng mạnh tay kẻo</br>
    làm xước môi. Xong xuôi, bạn chỉ cần dùng khăn ẩm lau nhẹ nhàng là lớp da chết trên môi sẽ trôi sạch sẽ.</br>
    </br>
    Đầu tiên, bạn di một đường son trong lòng môi, kéo đều từ khóe môi bên này sang khóe môi bên kia, sau đó bặm thật nhẹ. Nếu</br>
    muốn lớp màu đậm và lan rõ hơn, bạn hãy tiếp tục thao tác di thêm son, bặm môi. Sau đó, bạn chấm ngón tay nhẹ nhàng lên</br>
    phần môi muốn tạo hiệu ứng loang màu để son chuyển màu từ đậm đến nhạt thật nuột nà, không bị hằn rõ ranh giới. Để có thể</br>
    thoa son trực tiếp từ thỏi mà vẫn đẹp, bạn chỉ cần kiên nhẫn tập luyện. Hãy bắt đầu thật chậm, đưa đầu son quanh đường viền rồi</br>
    sửa dần cho thật cân và nét. Khi đã thực hiện nhiều lần, bạn sẽ tự nhận ra được dáng môi hợp với mình nhất. Nếu bị lem, hãy lau</br>
    sạch đi và làm lại. Ban đầu khi chưa quen, bạn có thể mất tới 30 phút nhưng một khi đã nhuần nhuyễn rồi thì chỉ mất khoảng 20 giây</br>
    mà thôi.

    <h3 style="font-size:30px;color:#000000" >Tin liên quan</h3></br>
    <li><a href="~/NguoiDung/tintuc">Ra mắt sản phẩm mới của công ty </a></li></br>
    <li><a href="~/NguoiDung/tintuc">Muốn biết cách chăm sóc môi và thoa son lì đẹp nhất </a></li></br>
    <li><a href="~/NguoiDung/tintuc">Cách chăm sóc da vào ban đêm </a></li></br>
    <li><a href="~/NguoiDung/tintuc">Dòng Son MAC nổi tiếng vừa cho ra đời sản phẩm mới </a></li></br>
    <li><a href="~/NguoiDung/tintuc">Ra mắt sản phẩm mới của công ty </a></li></br>
</h3>

